flow2
[{"id":"40181eb6.a4558","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2b2324f7.7a00ec","type":"inject","z":"40181eb6.a4558","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["596fe830.df51f8"]]},{"id":"596fe830.df51f8","type":"function","z":"40181eb6.a4558","name":"","func":"msg.headers={\n    deviceKey: \"g9usWlFMamL56fqt\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["b9b0bd39.4f426","7c32000c.8cb5b"]]},{"id":"b9b0bd39.4f426","type":"http request","z":"40181eb6.a4558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D3dj1jab/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":360,"wires":[["a2b5ddac.75e1","4a28244c.5148dc"]]},{"id":"a2b5ddac.75e1","type":"http response","z":"40181eb6.a4558","name":"","statusCode":"","headers":{},"x":850,"y":360,"wires":[]},{"id":"4a28244c.5148dc","type":"debug","z":"40181eb6.a4558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":280,"wires":[]},{"id":"7c32000c.8cb5b","type":"http request","z":"40181eb6.a4558","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D3dj1jab/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":280,"wires":[["4a28244c.5148dc","a2b5ddac.75e1"]]}]
