flow3
[{"id":"a38ddc7.40d482","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3aa129ed.4fe656","type":"inject","z":"a38ddc7.40d482","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["8742876e.db8328"]]},{"id":"8742876e.db8328","type":"function","z":"a38ddc7.40d482","name":"Payload","func":"msg.headers={\n    deviceKey: \"g9usWlFMamL56fqt\"\n    };\nmsg.payload=\"Temperature,,25.3\";\nmsg.payload=\"Humidity,,150\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["47b0d095.3239c"]]},{"id":"47b0d095.3239c","type":"http request","z":"a38ddc7.40d482","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D3dj1jab/datapoints.csv","tls":"","proxy":"","authType":"","x":470,"y":220,"wires":[["da97f2b9.db641","acf7394b.c0ff58"]]},{"id":"da97f2b9.db641","type":"http response","z":"a38ddc7.40d482","name":"","statusCode":"","headers":{},"x":640,"y":220,"wires":[]},{"id":"acf7394b.c0ff58","type":"debug","z":"a38ddc7.40d482","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":280,"wires":[]}]
