flow1
[{"id":"4d9238e2.6bd8f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2402f178.4231be","type":"rpi-gpio in","z":"4d9238e2.6bd8f8","name":"button","pin":"11","intype":"up","debounce":"25","read":true,"x":180,"y":260,"wires":[["b989d35f.2399c","9ef49690.2a3458"]]},{"id":"514e531d.b2849c","type":"rpi-gpio out","z":"4d9238e2.6bd8f8","name":"led","pin":"7","set":"","level":"0","freq":"","out":"out","x":700,"y":260,"wires":[]},{"id":"b989d35f.2399c","type":"switch","z":"4d9238e2.6bd8f8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":260,"wires":[["f7ebd19b.3a881"],["220f2e47.789ea2"]]},{"id":"f7ebd19b.3a881","type":"change","z":"4d9238e2.6bd8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["514e531d.b2849c"]]},{"id":"220f2e47.789ea2","type":"change","z":"4d9238e2.6bd8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["514e531d.b2849c"]]},{"id":"9ef49690.2a3458","type":"debug","z":"4d9238e2.6bd8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":120,"wires":[]}]
